.identity-login-box-container {
    & {
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 13px !important;
        -webkit-font-smoothing: antialiased;
        position: relative;
        background: #fff;
        padding: 25px;
        text-align: center;
        min-width: 250px;
        max-width: 350px;
        margin: 0 auto;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        overflow: auto;
        color: #5e6570;
    }
    .bx-hd-title {
        text-transform: uppercase;
        color: #ff5252;
        font-size: 1.2em;
        margin: 10px 0;
        font-weight: bold;
    }
    .bx-sub-title {
        color: #5e6570;
        font-size: 1em;
        margin: 5px 0;
        font-weight: normal;
    }
    .bx-sub-title.action {
        color: #ff5252;
        cursor: pointer;
    }
    .box-header {
        & {
            overflow: auto;
        }
        .login-ico {
            width: 60px;
            height: 60px;
            margin: 10px auto;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
        }
        .login-ico:empty {
            background: #f3f3f3 url('https://cdn.loginbox.io/styleguide/loginbox/login-profile-default.svg') no-repeat center;
            background-size: cover;
        }
        .login-ico img {
            width: inherit;
            height: inherit;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
        }
        .btn-close {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 24px;
            height: 24px;
            background: url('https://cdn.loginbox.io/styleguide/loginbox/close-x.svg') no-repeat center;
            background-position: 0px -24px;
            background-size: cover;
            cursor: pointer;
            display: none;
        }
    }
    .identity-login-box.dialog .box-header .btn-close {
        display: block;
    }
    .box-main {
        & {
        }
        .form-container {
            & {
                padding: 5px;
            }
            .inp-container {
                border: 1px solid #999;
                border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                margin: 8px 0;
            }
            .lpinp {
                width: 100%;
                height: 36px;
                padding: 10px 12px;
                margin: 0;
                font-size: 14px;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                color: #777;
                outline: none;
                border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
            }
            .inp-container .lpinp {
                border: none;
                border-bottom: 1px solid #ddd;
            }
            .inp-container .lpinp:last-child {
                border-bottom: none;
            }
            .lpbtn {
                padding: 8px 30px;
                max-width: 45%;
                margin: 8px auto;
                font-size: 13px;
                border-color: rgba(0, 0, 0, 0.1);
                background: #ff5252;
                color: #fff;
                transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
            }
            .lpbtn:hover {
                border-color: rgba(0, 0, 0, 0.1);
                color: white;
                outline: none;
                transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
            }
            .ntf {
                color: #777;
            }
            .ntf.error {
                color: #c00403;
            }
        }
        &.register .terms {
            & {
                margin: 15px 0;
                text-decoration: none;
            }
            .ico {
                float: left;
                width: 24px;
                height: 24px;
                background: url('https://cdn.loginbox.io/styleguide/loginbox/terms-ico.svg') no-repeat center;
                background-size: cover;
                margin: 3px 0;
            }
            .bx-sub-title {
                font-size: 0.9em;
                color: #999;
                transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
            }
            &:hover .bx-sub-title {
                color: #555;
                transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
            }
        }
        &.success {
            .ico {
                width: 70%;
                height: 80px;
                margin: 20px auto;
                background: url('https://cdn.loginbox.io/styleguide/loginbox/success-tick.svg') no-repeat center;
                background-size: contain;
            }
            .bx-succ-title {
                margin: 20px 0;
                font-size: 1.15em;
                text-align: center;
                color: #42b549;
            }
        }
    }
    .social-container {
        & {
            overflow: auto;
            max-width: 300px;
            margin: 0 auto;
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        .social_or {
            margin: 10px 0;
            color: #555459;
            text-align: center;
        }
        .btn_social {
            float: left;
            margin: 5px;
            width: 40px;
            height: 40px;
            cursor: pointer;
            background: url('https://cdn.loginbox.io/styleguide/social/img/social-sprite-light.svg') no-repeat;
            background-size: cover;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            opacity: 1;
            transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
        }
        .btn_social.fb {
            background-color: #3c589a;
            background-position: 0 0;
        }
        .btn_social.gp {
            background-color: #dd4b39;
            background-position: 0px -40px;
        }
        .btn_social.gh {
            background-color: #5e6570;
            background-position: 0px -80px;
        }
        .btn_social.tt {
            background-color: #55acee;
            background-position: 0px -120px;
        }
        .btn_social.lin {
            background-color: #006fa6;
            background-position: 0px -160px;
        }
        .btn_social.win {
            background-color: #0078d7;
            background-position: 0px -200px;
        }
        .btn_social:hover {
            opacity: 0.75;
            transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
        }
    }
    .box-footer {
        & {
            border-top: 1px solid #ccc;
            margin-top: 10px;
            padding-top: 10px;
            color: #777;
            font-weight: normal;
        }
        .ft-lnk,
        .ft-lnk-bull {
            display: inline-block;
            margin: 5px 0;
        }
        .ft-lnk {
            cursor: pointer;
            transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
        }
        .ft-lnk:hover {
            text-decoration: underline;
            transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
        }
        .ft-lnk-bull {
            margin: 5px;
        }
    }
    .hidden {
        display: none !important;
    }
}

.login-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
    background: rgba(0, 0, 0, 0.4);
}

.login-popup {
    position: absolute;
    top: 15%;
    left: 0;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 25px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 25px rgba(0, 0, 0, 0.3);
}

.popup-content {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}